@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Shadows+Into+Light&display=swap');
body {
    background-color: #708D81;
}
nav, footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    color: #001427;
    font-family: 'Shadows Into Light Two', cursive;
    background-color: white;
    border: 5px solid #8D0801;
}
nav a, footer a {
    text-decoration: none;
}
nav {
    justify-items: center;
    align-items: center;
    color: #8D0801;
}
footer {
    margin-top: 20px;
    padding: 20px;
    justify-items: center;
    align-items: center;
    color: #8D0801;
}
nav img {
    grid-area: 1;
}
nav p {
    font-size: larger;
}
.hero {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    border: 5px solid #8D0801;
    margin-top: 20px;
}
.site-name {
    font-family: 'Shadows Into Light Two', cursive;
    color: #001427;
    position: absolute;
    margin-top: 50px;
    justify-self: center;
    text-align: center;
    background-color: #708D81;
    padding: 20px;
    border: 5px solid #8D0801;
}
.bench {
    width: 100%;
    position: relative;
    z-index: -1;
    border: 5px solid #8D0801;
}
.user-info {
    font-family: Lato, sans-serif;
    background-color: #001427;
    padding: 30px;
    color: #708D81;
    border: 5px solid #8D0801;
    margin-top: 20px;
}
.users, .who, .most, .worries {
    font-family: 'Shadows Into Light Two', cursive;
}
.user-info img {
    width: 400px;
    float: right;
    border: 5px solid #8D0801;
}
/*CSS for sign-up page*/
.user-info img {
    float: right;
    margin-top: -75px;
    margin-left: 20px;
}
.user-info h1, h3 {
    font-family: 'Shadows Into Light Two', cursive;
}
.user-info {
    position: relative;
    font-family: Lato, sans-serif;
}
.form-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    border: 5px solid #8D0801;
    background-color: #F4D58D;
}
.form {
    grid-area: 1;
    font-size: 15px;
    margin-left: 25%;
    font-family: Lato, sans-serif;
    margin-top: 20px;
    background-color: #001427;
    margin-bottom: 20px;
}
form li {
    padding: 10px;
    color:#708D81;
}
.form p {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: larger;
    color:#708D81;
}
.form-img img {
    border: 5px solid #8D0801;
    margin-left: 25%;
    margin-top: 7px;
}
/* Bordered form */
form {
    border: 5px solid #8D0801;
    font-family: Lato, sans-serif;
    color: #001427;
  }
  
  /* Full-width inputs */
  .container input[type=text], input[type=password] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .psw a {
    text-decoration: none;
    color: #001427;
    font-size: medium;
  }
  /* Set a style for all buttons */
  button {
    background-color: #8D0801;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #001427;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 100px;
    border-radius: 25%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
    font-size: medium;
  }

/*CSS for about-us page*/
.about {
    border: 5px solid #8D0801;
    background-color:#F4D58D;
    color:#001427;
    text-align: center;
    font-family: 'Shadows Into Light Two', cursive;
    margin-top: 20px;
}
.origin {
    border: 5px solid #8D0801;
    background-color: #001427;
    color:#708D81;
    height: 250px;
    margin-top: 20px;
}
.origin img {
    float: right;
    margin-top: -60px;
    margin-right: 20px;
    border: 5px solid #8D0801;
}
.origin h3 {
    font-size: 25px;
    font-family: Lato, sans-serif;
}
.origin p {
    position: relative;
    font-size: larger;
    font-family: Lato, sans-serif;
}
.important {
    border: 5px solid #8D0801;
    background-color: #001427;
    color:#708D81;
    margin-top: 20px;
}
.important h3 {
    font-size: 25px;
    font-family: Lato, sans-serif;
}
.important p {
    position: relative;
    font-size: larger;
    font-family: Lato, sans-serif;
}
.share {
    border: 5px solid #8D0801;
    background-color: #001427;
    color:#708D81;
    margin-top: 20px;
    height:250px;
}
.share img {
    float: right;
    margin-top: -60px;
    margin-right: 20px;
    border: 5px solid #8D0801;
}
.share h3 {
    font-size: 25px;
    font-family: Lato, sans-serif;
}
.share p, a {
    position: relative;
    font-size: larger;
    font-family: Lato, sans-serif;
}
.suggestions {
    border: 5px solid #8D0801;
    background-color: #001427;
    color:#708D81;
    margin-top: 20px;
}
.suggestions h3 {
    font-size: 25px;
}
.suggestions p {
    position: relative;
    font-size: larger;
    font-family: Lato, sans-serif;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
}